
if !session.user
  ul
    li
      a(href="/users/signin ") Ingresar
    li
      a(href="/users/signup") Registrate
else
  ul
    li
      a(href="/users/logout") Salir
    l
      a(href="/users/profile") Perfil

hi Bienvenido 
p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam deserunt sed consequatur velit, similique veniam laudantium atque voluptatibus modi harum? Quis totam quasi perspiciatis deserunt molestias non voluptate et ipsum.
p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint unde ex veniam at voluptatem error debitis doloribus velit, nesciunt eos quidem numquam vel voluptatibus praesentium ipsa voluptatum eveniet esse magni.
p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae temporibus non ipsam amet aliquid, officiis modi animi error adipisci. Minus nemo iste a maxime quas atque tempora dolor numquam et?